include ./head.pug

body(id="body-home") 
    header
            nav(class='navbar')

                        img(src="../img/logo.svg", alt="logo" href="/", class="nav-branding")
                        ul(class="nav-menu")
                            li(class="nav-item")
                                a(href="/", class="nav-link", style="color:grey") Home
                            li(class="nav-item")
                                a(href="/form", class="nav-link") Form
                            li(class="nav-item")
                                a(href="/mytools", class="nav-link") My Tools
                        div(class="hamburger")
                                span(class="bar")
                                span(class="bar")
                                span(class="bar")

    main(id="main-home")
        div(id="welcome-div")
            h1(id="welcome-h1") Welcome to Tooland
            h3(id="welcome-h3") Add a new tool in our form and check them all in our section My Tools
            div(id="buttons-div")
                
                a(href="/mytools" class="submit") CHECK ALL TOOLS
                a(href="/form" class="submit") REGISTER A NEW TOOL 


script(src="../js/hamburger.js")location.href='/form'