include ./head.pug

body(id="body-mytools") 
    header
            nav(class='navbar')

                        img(src="../img/logo.svg", alt="logo" href="/home", class="nav-branding")
                        ul(class="nav-menu")
                            li(class="nav-item")
                                a(href="/home", class="nav-link") Home
                            li(class="nav-item")
                                a(href="/form", class="nav-link") Form
                            li(class="nav-item")
                                a(href="/mytools", class="nav-link", style="color:grey") My Tools
                        div(class="hamburger")
                                span(class="bar")
                                span(class="bar")
                                span(class="bar")

    main
        div(class="mytools")
            h2(class="h2-form") My tools
            section(class="mytools-section")
                if tools 
                each tool in tools
                    div(class="mytool")  
                        img(src=tool.image, alt="image")
                        p <b>Name:</b> #{tool.name}
                        p <b>Price:</b> #{tool.price}€
                        p(id="description") <b>Description:</b> #{tool.description}
                        


script(src="/js/hamburger.js")